services:
  immichframe:
    container_name: immichframe-${LOCATION}
    image: ghcr.io/immichframe/immichframe:latest
    restart: on-failure
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    environment:
      TZ: ${LOCAL_TZ}
      RefreshAlbumPeopleInterval: ${RefreshAlbumPeopleInterval}
      PhotoDateFormat: ${PhotoDateFormat}
      ImageLocationFormat: ${ImageLocationFormat}
      WeatherApiKey: ${WeatherApiKey}
      UnitSystem: ${UnitSystem}
      WeatherLatLong: ${WeatherLatLong}
      Interval: ${Interval}
      TransitionDuration: ${TransitionDuration}
      ShowAlbumName: ${ShowAlbumName}
      ImageFill: ${ImageFill}
      ApiKey: ${ApiKey}
      ImmichServerUrl: ${ImmichServerUrl}
      Albums: ${Albums}
      
    networks:
      - reverse-proxy  
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immichframe-${LOCATION}.entrypoints=https"
      - "traefik.http.routers.immichframe-${LOCATION}.rule=Host(`${APP_URL}`)"
      - "traefik.http.routers.immichframe-${LOCATION}.tls=true"   
      - "traefik.http.routers.immichframe-${LOCATION}.tls.certresolver=${CERT_RESOLVER}"
      - "traefik.http.services.immichframe-${LOCATION}.loadbalancer.server.scheme=http"
      - "traefik.http.services.immichframe-${LOCATION}.loadbalancer.server.port=${APP_PORT}"

networks:
  reverse-proxy:   
    external: true
