services:
  gotify:
    image: gotify/server
    container_name: gotify
    volumes:
      - gotify-data:/app/data
    restart: unless-stopped
    ports:
      - ${APP_PORT}:80
    networks:
      - reverse-proxy
    env_file:
      - .env
    environment:
      - TZ=${TZ}
      - USER_NAME=${USER_NAME}
      - USER_PASS=${USER_PASS}
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.gotify.entrypoints=https"
    - "traefik.http.routers.gotify.rule=Host(`${APP_URL}`)"
    - "traefik.http.routers.gotify.tls=true"
    - "traefik.http.routers.gotify.tls.certresolver=${CERT_RESOLVER}"
    - "traefik.http.services.gotify.loadbalancer.server.scheme=http"
    - "traefik.http.services.gotify.loadbalancer.server.port=${APP_PORT}"

    # to run gotify as a dedicated user:
    # sudo chown -R 1234:1234 ./gotify_data
    # user: "1234:1234"

volumes:
  gotify-data:
    name: gotify-data
    external: true # <---comment out this line if you you are not using an existing volume (aka if this is the first time you are deploying this stack)

networks:
  reverse-proxy:
    external: true